---
import { range } from "ramda";
import { getTeam } from "../api/torneoPal";
import Layout from "../layouts/Layout.astro";
import mergeObjectsInArraysByProperty from "../utils/mergeObjectsInArraysByProperty";

const teams = [
  { name: "T12", id: "184530", categoryId: "T125" },
  { name: "T13/v", id: "35127914", categoryId: "T135" },
  { name: "T13/m", id: "157309", categoryId: "T134" },
] as const;

type TeamId = (typeof teams)[number]["id"];

type Stats = {
  matches: number;
  goals: number;
};

type WithStats = {
  [key in TeamId]?: Stats;
};

type Player = {
  id: string;
  name: string;
  birthyear: number;
} & WithStats;

type TeamDetails = {
  id: string;
  players: Player[];
};

const teamResponses = await Promise.all(
  teams.map(({ id, categoryId }) => getTeam(id, categoryId))
);

const teamDetails: TeamDetails[] = teamResponses.map(({ team }) => ({
  id: team.team_id,
  players: team.players
    .filter(({ matches }) => parseInt(matches, 10) > 0)
    .sort((a, b) => b.first_name > a.first_name ? -1 : 1)
    .sort((a, b) => b.birthyear > a.birthyear ? -1 : 1)
    .map((player) => ({
      id: player.player_id,
      name: `${player.first_name} ${player.last_name.substring(0, 1)}.`,
      birthyear: parseInt(player.birthyear, 10),
      [team.team_id]: {
        matches: parseInt(player.matches, 10),
        goals: parseInt(player.goals, 10),
      },
    })),
}));

const players = mergeObjectsInArraysByProperty(
  teamDetails.map(({ players }) => players),
  "id"
)
  .map((player) => ({
    ...player,
    totals: teams.reduce(
      (total, { id: teamId }) => ({
        matches: total.matches + (player[teamId]?.matches ?? 0),
        goals: total.goals + (player[teamId]?.goals ?? 0),
      }),
      { matches: 0, goals: 0 }
    ),
  }))
  .sort((a, b) =>
    a.totals.matches !== b.totals.matches
      ? b.totals.matches - a.totals.matches
      : b.totals.goals - a.totals.goals
  );
---

<Layout title="T10-11 tilastot">
  <main>
    <table>
      <thead>
        <tr>
          <td></td>
          <th colspan="2">Yhteensä</th>
          {
            teams.map(({ name }) => (
              <>
                <th colspan="2">{name}</th>
              </>
            ))
          }
        </tr>
        <tr>
          <td/>
          {range(0, 4).map(() => <th>O</th><th>M</th>)}
        </tr>
      </thead>
      <tbody>
        {
          players.map((player) => (
            <tr>
              <td>{player.name} <div class="birthyear">{player.birthyear}</div></td>
              <td>{player.totals.matches}</td>
              <td>{player.totals.goals > 0 ? player.totals.goals : ''}</td>
              {teams.map(({ id: teamId }) => {
                const stats = player?.[teamId];
                if (!stats) {
                  return <td /><td />;
                }

                return (
                    <td>{stats.matches}</td>
                    <td>{stats.goals > 0 ? stats.goals : ""}</td>
                );
              })}
            </tr>
          ))
        }
      </tbody>
    </table>
    <br />
    Yhteensä: {players.length} pelaajaa
  </main>
</Layout>

<style>
  table {
    width: 100%;
    max-width: 40rem;
    font-size: 0.9rem;
    color: #333;
    border-spacing: 0;
  }

  tbody tr:nth-child(2n+1) {
    background-color: #E9E9E9;
  }
  th,
  td {
    padding: 0.4rem;
    min-width: 2rem;
    border: 0;
    box-sizing: border-box;
  }
  td:not(:first-child) {
    text-align: center;
  }


  tr:nth-child(1) th:nth-child(1n+3),
  tr:nth-child(2) th:nth-child(2n+4),
  td:nth-child(2n+4) {
    border-left: 1px solid darkgray;
  }

  tbody td:empty::before {
    content: "-";
    color: darkgray;
  }

  .birthyear {
    font-size: smaller;
    color: #777;
  }
</style>
